name: Spoke CI - Build & Deploy sample-node-app to Cloud Run
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  call-hub-deploy:
    uses: techoabhishek/cicd-spoke-repo/.github/workflows/nodejs-cloudrun-deploy.yaml@main

    with:
      service_dir: .
      project_id: prj-vonage-apigee-poc
      region: us-central1
      image_repo: cicd-hub-spoke # Artifact Registry repo name
      service_name: sample-node-app-gh-cicd
    secrets: inherit