name: Spoke CI - Build & Deploy sample-node-app to Cloud Run
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  notify-approval:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Request Approval via Slack
        uses: techoabhishek/cicd-hub-repo/.github/actions/slack-notify@main
        with:
          status: 'approval' # <--- Triggers the Yellow "Approve" msg
          slack_webhook: ${{ secrets.SLACK_WEBHOOK }}
          job_name: "Production Deployment Request"
          mention_on_failure: "<!here>" # Pings everyone to look at it
  
  call-hub-deploy:
    needs: [notify-approval]
    permissions:
      contents: read
      id-token: write
    uses: techoabhishek/cicd-hub-repo/.github/workflows/nodejs-cloudrun-deploy.yaml@main

    with:
      environment: production
      service_dir: .
      project_id: prj-vonage-apigee-poc
      region: us-central1
      image_repo: cicd-hub-spoke # Artifact Registry repo name
      service_name: sample-node-app-gh-cicd
    secrets: inherit