name: Spoke CI - Build & Deploy sample-node-app to Cloud Run
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  
  call-hub-deploy:
    permissions:
      contents: read
      id-token: write
    uses: techoabhishek/cicd-hub-repo/.github/workflows/nodejs-cloudrun-deploy.yaml@main

    with:
      app_config_path: ../../app.config.yaml
    secrets: inherit