name: Spoke CI - Build & Deploy sample-node-app to Cloud Run
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  
  call-hub-deploy:
    permissions:
      contents: read
      id-token: write
    uses: techoabhishek/cicd-hub-repo/.github/workflows/nodejs-cloudrun-deploy.yaml@main

    with:
      service_dir: .
      project_id: prj-vonage-apigee-poc
      region: us-central1
      image_repo: cicd-hub-spoke # Artifact Registry repo name
      service_name: sample-node-app-gh-cicd
    secrets: inherit
  
  post-deploy-notification:
    runs-on: ubuntu-latest
    needs: [call-hub-deploy]
    if: always()
    steps:
      - name: Slack Notification
        uses: techoabhishek/cicd-hub-repo/.github/actions/slack-notify@main
        with:
          # This grabs the result ('success', 'failure', 'cancelled') from the previous job
          status: ${{ needs.call-hub-deploy.result }}
          slack_webhook: ${{ secrets.SLACK_WEBHOOK }}
          job_name: "Spoke Deploy - sample-node-app"