name: Test GCP WIF Auth

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  id-token: write

jobs:
  auth:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/864610185638/locations/global/workloadIdentityPools/github-pool/providers/github-provider"
          service_account: "github-action-cicd@prj-vonage-apigee-poc.iam.gserviceaccount.com"

      - name: Verify Auth
        run: gcloud auth list
      
      - name: Validate permission by listing cloud run services
        run: gcloud run services list --region=us-central1

      - name: Validate AR access
        run: gcloud artifacts repositories list --location=us-central1
