name: Test Pub/Sub Event Publish

on:
  workflow_dispatch:      # manual trigger
  push:                   # optional: trigger on push
    branches:
      - main
permissions:
  contents: read
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/864610185638/locations/global/workloadIdentityPools/github-pool/providers/github-provider"
          service_account: "github-action-cicd@prj-vonage-apigee-poc.iam.gserviceaccount.com"

      - name: Install Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Publish full GitHub event payload
        run: |
          echo '${{ toJson(github) }}' > event.json
          gcloud pubsub topics publish github-events-test --message="$(cat event.json)"

